@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#121417] text-gray-200 antialiased;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #1a1c1e;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}